<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<entityFramework>
    <defaultConnectionFactory type="MySql.Data.Entity.MySqlConnectionFactory, MySql.Data.Entity.EF6" />
    <providers>
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<connectionStrings>
  <add name="betterltdEntities" connectionString="metadata=res://*/Betterltd_model.csdl|res://*/Betterltd_model.ssdl|res://*/Betterltd_model.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=113.252.166.103;user id=Admin;password=/MA{Q*XfWJZd&amp;A!)9#R(93g5Ee~WK%;persistsecurityinfo=True;database=betterltd&quot;"
    providerName="System.Data.EntityClient" />
  <add name="BetterLtd.Properties.Settings.betterltdConnectionString"
    connectionString="server=113.252.166.103;user id=Admin;password=/MA{Q*XfWJZd&amp;A!)9#R(93g5Ee~WK%;persistsecurityinfo=True;database=betterltd"
    providerName="MySql.Data.MySqlClient" />
  <add name="BetterLtd.Properties.Settings.betterltdConnectionString1"
    connectionString="password=/MA{Q*XfWJZd&amp;A!)9#R(93g5Ee~WK%;server=113.252.161.163;user id=Admin;persistsecurityinfo=True;database=betterltd"
    providerName="MySql.Data.MySqlClient" />
  <add name="BetterLtd.Properties.Settings.betterltdConnectionString_stock"
    connectionString="server=113.252.166.103;password=/MA{Q*XfWJZd&amp;A!)9#R(93g5Ee~WK%;user id=Admin;persistsecurityinfo=True;database=betterltd"
    providerName="MySql.Data.MySqlClient" />
</connectionStrings></configuration>